@media (max-width: 1024px) {
    nav {
        height: 5rem;
    }

    .logo {
        margin: 10px 0;
        position: relative;
        right: 29px;
    }

    .content {
        position: fixed;
        top: -18rem;
        width: 100%;
        height: 16rem;
        background: rgba(144, 58, 12, 0.862);
        transition: top 0.6s linear;
    }

    .content.active {
        top: 0;
    }

    .content ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 44px 0;
        list-style: none;
    }

    .hamburger {
        display: flex;
    }


    .ServiceContainer {
        padding: 0 2rem;
    }

    .leftContainer,
    .rightContainer {
        max-width: 100%;
        height: auto;
    }

    #Services h1,
    #About h1 {
        font-size: 4rem;
    }

    .container h2 {
        font-size: 3rem;
    }

    .container p {
        font-size: 1.6rem;
    }

    #Booking h1 {
        font-size: 3rem;
    }


    .popup-close {
        font-size: 2rem;
        top: 5px;
        right: 15px;
    }

    .popup-overlay img {
        max-height: 70vh;
        max-width: 80vw;
    }

    .Booking_container {
        width: 90%;
        padding: 1.5rem;
        box-sizing: border-box;
    }

    .container_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .booking_left,
    .booking_right {
        width: 100%;
        height: auto;
    }

    .booking_left .inputs,
    .booking_right .inputs {
        width: 100%;
        margin: 1rem 0;
        height: 5rem;
        padding: 0 1rem;
    }

    .booking_left .inputs img,
    .booking_right .inputs img {
        width: 2rem;
        height: 2rem;
    }

    .booking_left .inputs input,
    .booking_right .inputs input,
    .booking_left .inputs select,
    .booking_right .inputs select,
    .booking_left .inputs textarea,
    .booking_right .inputs textarea {
        font-size: 20px;
        padding: 1rem 0.5rem;
        height: 4rem;
    }

    .submit {
        margin: 0.5rem 0;
    }

    .submit button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        height: 3.5rem;
        border-radius: 2rem;
        width: 80%;

    }

    .footercontainer {
        align-items: center;
        height: auto;
    }

    .leftfooter ul,
    .rightfooter ul {
        margin: 1rem;
    }

    .rightfooter ul li a span {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .slogan p,
    .slogan2 p {
        font-size: 2rem;
        padding: 1rem;
    }

    .leftfooter ul,
    .rightfooter ul {
        font-size: 1.4rem;
    }

    #btn {
        font-size: 1.4rem;
    }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    .logo img {
        width: 60px;
    }

    .content ul li {
        font-size: 1rem;
        padding: 0.3rem;
        margin: 0.3rem;
    }

    .slogan p {
        font-size: 2rem;
        padding: 1rem;
    }

    .slogan2 p {
        font-size: 5rem;
    }

    .rightContainer p {
        font-size: 1rem;
    }

    #Services h1,
    #About h1 {
        font-size: 3rem;
    }

    .container {
        width: 95%;
        padding: 1rem;
    }

    .container h2 {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .container p {
        font-size: 1.3rem;
    }

    .popup-box {
        width: 95%;
        padding: 1.5rem;
    }

    .closebtn {
        font-size: 2rem;
    }

    .leftfooter ul,
    .rightfooter ul {
        font-size: 1.3rem;
    }

    .leftfooter ul,
    .rightfooter ul {
        font-size: 1.3rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    #btn {
        font-size: 1.3rem;
    }

    .leftfooter {
        margin-left: 0.4rem;
    }

    .leftfooter ul li img {
        width: 25px;
    }

    .leftfooter ul li,
    .rightfooter ul li {
        padding: 3px auto;
    }

    #Services h1 {
        padding-top: 1rem;
    }
}

/* Mobile (very small screens: max-width 400px) */
@media (max-width: 413px) {

    .logo img {
        width: 50px;
        padding-top: 0.5rem;
    }

    .slogan2 p {
        font-size: 3rem;
    }

    .slogan p {
        font-size: 1rem;
    }

    #Services h1 {
        padding-top: 2rem;
    }

    #Services h1,
    #About h1 {
        font-size: 2.5rem;
    }

    .ServiceContainer {
        padding: 0 1rem;
    }

    .leftContainer img {
        border-radius: 2rem;
    }

    .rightContainer {
        padding: 1rem;
    }

    .rightContainer p {
        font-size: 0.6rem;
        line-height: 1;
    }

    .container {
        width: 95%;
        padding: 1rem;
        margin: 3rem auto;
    }

    .container h2 {
        font-size: 1.8rem;
        padding: 2rem 0;
    }

    .container p {
        font-size: 1rem;
    }

    .footercontainer {
        align-items: center;
        height: auto;
        padding: 1rem 0;
    }

    .leftfooter ul,
    .rightfooter ul {
        font-size: 0.7rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    #btn {
        font-size: 0.7rem;
    }

    .leftfooter {
        margin-left: 0.4rem;
    }

    .leftfooter ul li span {

        font-size: 12px;
        margin-left: 0.5rem;
    }

    .leftfooter ul li img {
        width: auto;
        height: 16px;
        margin-right: 0;
    }

    .leftfooter ul li,
    .rightfooter ul li {
        padding: 3px auto;
    }

    .rightfooter ul li a span {
        font-size: 20px;
        margin-left: 1rem;
    }

    .popup-box {
        width: 95%;
        padding: 1rem;
    }

    .closebtn {
        font-size: 2rem;
    }
}
